
td.label {
text-align: right;
font-weight: bold;
white-space: nowrap;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	}
.edit_link a {
text-decoration: none;
color: blue;
}
#left_column {
float: left;
width: 300px;
}
#main_content {
margin-left: 320px;
}

.sidebar_box {
background-color: #ddd;
border: 1px solid #aaa;
font-size: 12px;
margin-bottom: 10px;
}
.sidebar_box h2 {
margin-top: 0px;
padding: 6px;
background-color: #ccc;
font-size: 13px;
color: #CC66CC;
font-weight:bold;
}
.sidebar_box p {
padding-left: 6px;
padding-right: 6px;
}
.sidebar_box .header {
float: left;
}
.sidebar_box .edit_link {
float: right;
}
/* Spec Style */
#full_name {
font-size: xx-large;
}
#occupation{
font-size: x-large;
}
#location {
font-size: large;
}
/* FAQ Style */
.faq {
float: left;
padding: 10px;
}
#bio {
padding: 5px;
}
.sidebar_box_contents, .faq_answer {
padding: 0 10px 10px 10px;
}
.faq_answer textarea {
width: 280px;
background: #ff9;
}
