<h1><%= @title%></h1>

<center>
<h2>LOVE IS A LOSING GAME</h2>
<p>
	For you I was a flame<br />
	Love is a losing game <br />
	Five-storey fire as you came <br />
	Love is a losing game <br />
	<br />
	Once I wish I never played...<br />
	Oh! What a mess we made <br />
	And now the final frame <br />
	Love is a losing game<br /><br />
	
	Played out by the band<br />
	Love is a losing hand <br />
	More than I could stand <br />
	Love is losing hand <br /><br />
	
	Self-professed, profound <br />
	Till the chips were down <br />
	Though you're a gambling man <br />
	Love is a losing hand <br /><br />
	
	Though I'd battle blind<br />
	Love is fate resigned <br />
	Memories mar my mind <br />
	Love is fate resigned <br /><br />
	
	Over futile odds<br />
	And laugh out by the Gods<br />
	And now the final frame<br />
	Love is a losing game
	
</p>
</center>